* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111827;
    color: white;
}

ul {
    display: flex;
    justify-content: end;
    gap: 10px;
    list-style: none;
    margin: 10px;
    font-size: 20px;   
}

.top_section {
   display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 30px;
    
}
img[alt="hands"]{
    width: 40px;
}
.Hi {
    margin-top: 10px;
    font-size: 20px;
}
img[alt="menu"]{
    width: 20px;
    display: none;
}

.hand {
    display: flex;
}

.text {
    margin-top: 5px;
    font-size: 35px;
    color: rgb(197, 197, 89)
}

.main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 45px;
}

.divide {
    height: 10px;
    width: 155px;
    background-color: blue;
    border-radius: 20px;
    margin-bottom: 20px;
}

.Project_lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    column-gap: 20px;
}

img[alt="project-image"]{
    width: 20vw;
}

img[alt="pc_image"]{
    width: 25vw;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img[alt="social"] {
    width: 30px;
}

.footer {
    margin: 30px;
    gap: 15px;
}

.contact {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact div h1 {
    font-size: 40px;
}
.foot_divide {
    background-color: blue;
    height: 10px;
    width: 200px;
    border-radius: 20px;
}
.logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

@media screen and (max-width: 576px) {
    nav ul {
        display: none;
    }


img[alt="menu"]{
    display: block;
    margin: 10px;
}


.top_section {
    display: flex;
    flex-direction: column;
}

.Project_lists {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
}
.hand {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        
}
.main_text {
    font-size: 40px;
}
.text {
    font-size: 25px;
    text-align: center;
}
img[alt="project-image"]{
    width: 50vw;
}

.header {
    font-size: 35px;
}
.divide {
    height: 10px;
    width: 150px;
    background-color: blue;
    border-radius: 20px;
    margin-bottom: 15px;
}
.contact div h1 {
    font-size: 35px;
}

}